button {
  background-color: #fc4a1a;
  border: none;
  color: #1cefff;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  font-family: 'Black Han Sans', sans-serif;
}
span {
  color: #1cefff;
}

canvas {
  border: 1px solid #1cefff;
}
body {
  font-family: 'Black Han Sans', sans-serif;
  background: #ADD100;
  background: -webkit-linear-gradient(to right, #7B920A, #ADD100);
  background: linear-gradient(to right, #7B920A, #ADD100);
  text-align: center;
}
h2 {
    color: #fc4a1a;
    margin: 1em 0 0.25em;
}
